.deleteModal {
  padding: 0px 20px;
}
.title {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 50px;
}
.actions {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: end;
}
.actions button {
  cursor: pointer;
  background-color: darkturquoise;
  border-radius: 5px;
  color: white;
  border: 1px solid darkturquoise;
  padding: 10px 15px;
}
