.addModal {
  padding: 0px 20px;
}
.title {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.folderInput {
  border-radius: 5px;
  height: 35px;
  padding-left: 8px;
  font-weight: 500;
  outline: none;
  width: 300px;
  border: 1px solid darkturquoise;
}
.actions {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: end;
}
.actions button {
  cursor: pointer;
  background-color: darkturquoise;
  border-radius: 5px;
  color: white;
  border: 1px solid darkturquoise;
  padding: 10px 15px;
}
